@model Project_acklogica.Models.sale

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sale_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale_qnty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_qnty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sale_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sale_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
